* {
  font-family: 'Space Grotesk', sans-serif;
}


body {
  background: black;
  color: white;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 2rem;
  letter-spacing: 2px;
}

h2 {
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 30px;
}

.headline {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.btn {
  background: white;
  color: black;
  padding: 14px 40px;
  text-decoration: none;
  font-weight: bold;
}
