* {
  font-family: 'Space Grotesk', sans-serif;
}


body {
  background: black;
  color: white;
}

.avatar {
  width: 120px;       
  height: 120px;
  margin-bottom: 20px;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.avatar {
  margin-bottom: 20px;
  text-align: center;
}

.avatar img {
  max-width: 120px;
  max-height: 120px;
  width: auto;
  height: auto;
  border-radius: 50%;
  border: 2px solid #c40000;
  display: block;
}


.headline {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.btn {
  background: white;
  color: black;
  padding: 14px 40px;
  text-decoration: none;
  font-weight: bold;
}
